// colors
$bg-color: #881d1d;
$light-color: #fcfcfc;
$dark-color: #444343;
$font-color: #030303;

// others
$border: 1px solid;


body {
    margin: 0 auto;
    
    text-align: center;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;

    background-color: $bg-color;
    color: $font-color;

    a {
        color: $light-color;
    }

    form {
        width: 80%;
        
        padding: 20px;
        margin: 2rem auto 2rem auto;

        background: $light-color;
        border: $border $dark-color;
        border-radius: 15px;
        box-shadow: 0px 0px 10px $dark-color;
    }

    input {
        padding: 0.5rem;
        border: $border $dark-color;
        border-radius: 5px;

        &:hover {
            border: $border $bg-color;
        }

        &:focus {
            border-color: $bg-color; 
            outline: none; 
        }
        
        &[type=submit] {
            width: 30%;
            padding: 1rem;
            background: $dark-color;
            color: $light-color;
            cursor: pointer;

            &:hover {
                background-color: $bg-color;
            }
        }     
        
        button {
            border-radius: 5px;
            cursor: pointer;
        }
    }
    
    select {
        border: 1px solid $bg-color;
        background-color: $light-color;
        padding: .25rem;
    }

    p {
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        margin: 0;
        padding: 0;
    }
    
    h2{
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        color: $light-color;
    }

    hr {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.header {
    color: $light-color;
}

.productos {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 14px;
    margin:auto;
    padding-bottom: 2rem;

    align-items: center;
    justify-content: center;
    border-bottom: $border $bg-color;
}

.submit {
    display: grid;
    width: 80%;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    margin: auto;

    input {
        width: 100%;
        margin: auto;

        &[type=submit] {
            width: 8rem;
            background-color: $bg-color;
            color: $light-color;
            cursor: pointer;

            &:hover {
                background-color: $light-color;
                border: $border $bg-color;
                transition: all 0.3s;
            }
        }

        &[type=text] {
            width: 90%;
        }
    }

    button {
    background-color: $light-color;
    padding: 0.75rem;
    border: $border $dark-color; 
    
        &:hover {
            background-color: $light-color;
            border: $border $bg-color;
        }
    }
}



.producto-item {
    display: flex;
    gap: 1rem;
    margin: auto;
    justify-items: center;
    align-items: center;

    input {
        width: 3rem;
    }
    
    button {
        width: 2rem;
        height: 2rem;
    }
}

.product-quantity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    justify-items: baseline;
    
    input {
        width: 100%;
        text-align: center;
    }
    
    button {
        background-color: $bg-color;
        color: $light-color;

        &:hover {
            background-color: $bg-color;
        }
    }
}

.navbar {
    background-color: $dark-color;
    padding: 10px 0;
    text-align: center;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

         li {
            display: inline;
            margin-right: 20px;
            
            a {
                color: $light-color;
                text-decoration: none;
                font-size: 18px;
                font-weight: bold;
                padding: 10px 15px;
                transition: background 0.3s;
                
                &:hover {
                    background-color: $dark-color;
                    border-radius: 5px;
                }
            }
            
        }
    }
}

.login {
    width: fit-content;
    display: grid;
    margin: 10rem auto;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: $light-color;
    color: $font-color;
    border-radius: 5px;

    h2 {
        margin: auto;
        color: $bg-color;
    }

    form {
        display: grid;

        margin:auto;
        padding: 0;

        justify-items: start;
        justify-content: center;

        background-color: transparent;
        border: none;
        box-shadow: none;

        button {
            width: 100%;
            padding: 0.7rem;
            border-radius: 5px;
            background-color: $bg-color;
            margin-top: 1rem;
            color: $light-color;
            border: $border $bg-color;
            transition: all 0.4s;

            &:hover {
                background-color: $light-color;
                color: $bg-color;
                border: $border $bg-color;
                transition: all 0.3s;
            }
        }

        input {
            margin-bottom: 0.5rem;
            padding: 0.5rem;
        }
    }
}

.pedidos_table {
    display: flex;
    justify-content: center;
    color: $light-color;
    padding: 1rem;
}
