body {
  background-color: #881d1d;
  text-align: center;
  margin: 0 auto;
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-style: normal; }

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  background: #781111; }

table, th, td {
  border: 1px solid #c0bebe;
  padding: 10px; }

th {
  background-color: #333;
  color: white; }

tr:nth-child(even) {
  background-color: #f2f2f2; }

form {
  background: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: auto;
  border: 1px solid #444343;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 100%; }

input {
  padding: .5rem;
  width: 80%;
  border: 1px solid #551010; }

select {
  border: 1px solid #551010;
  background-color: white;
  padding: .25rem;
  width: 93%; }

input[type=submit] {
  background: #333;
  color: white;
  cursor: pointer;
  width: 30%;
  padding: 1rem;
  border: 1px solid #551010; }

input:focus {
  border-color: #e01919;
  /* Color burdeos */
  outline: none;
  /* Opcional: elimina el contorno predeterminado */ }

.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 14px;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px black solid; }

.submit {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  width: 80%;
  margin: auto; }

.submit button {
  background-color: #ebe9e9;
  padding: 0.75rem;
  border: 1px solid #1d1d1d; }

.submit button:hover {
  background-color: #bbb9b9;
  color: black; }

.submit input {
  width: 80%;
  margin: auto; }

p {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0; }

hr {
  margin: 0;
  padding: 0;
  color: black;
  width: 100%; }

h2 {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 3rem; }

.producto-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: auto;
  justify-items: center; }

.producto-item button {
  width: 4rem; }

.product-quantity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  justify-items: last baseline; }

.product-quantity input {
  width: 100%;
  text-align: center; }

.product-quantity button {
  padding: 0.2rem;
  background-color: #881d1d;
  color: white; }

.product-quantity button:hover {
  background-color: #781111; }
