<!DOCTYPE html>
<html>
<head>
<title>Ingresar Pedido</title>
<!-- Styles and fonts -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="icon" href="../static/images/ico-dorado.ico" type="image/x-icon">
<!-- Agregar jQuery y Select2 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
const preciosProductos = {
    "3 empanadas + bebida": 7300,
    "3 empanadas + cerveza": 8100,
    "Agua Sabor Naranja 1500cc": 3000,
    "Agua Sabor Naranja 500cc": 1600,
    "Agua Sin Gas 1500cc": 2500,
    "Agua Sin Gas 500cc": 1600,
    "Baguette (1u)": 500,
    "BBQ Casera (100cc)": 1500,
    "Champagne Brut (750ml)": 10000,
    "Cerveza Blond Ale (473ml)": 2400,
    "Cerveza Porter (473ml)": 2400,
    "Cerveza Scottish (473ml)": 2400,
    "Coca Cola (1500cc)": 4000,
    "Coca Cola (500cc)": 1800,
    "Coca Cola Zero (500cc)": 1800,
    "Cordero Desmechado (400g)": 7500,
    "Criolla Casera (100cc)": 1500,
    "Empanada Cordero (1u)": 1900,
    "Empanada Espinaca (1u)": 1900,
    "Empanada JyQ (1u)": 1900,
    "Empanada Mozzarella Cebolla (1u)": 1900,
    "Empanada Pollo (1u)": 1900,
    "Empanada Ternera (1u)": 1900,
    "Empanadas Carne (12u)": 22800,
    "Empanadas Congeladas Carne (6u)": 11400,
    "Empanadas Congeladas Cordero (6u)": 11400,
    "Empanadas Congeladas Espinaca (6u)": 11400,
    "Empanadas Congeladas Jamon y Queso (6u)": 11400,
    "Empanadas Congeladas Mozzarella y Cebolla (6u)": 11400,
    "Empanadas Congeladas Pollo (6u)": 11400,
    "Empanadas Cordero (12u)": 22800,
    "Empanadas Espinaca (12u)": 22800,
    "Empanadas JyQ (12u)": 22800,
    "Empanadas Mozzarella Cebolla (12u)": 22800,
    "Empanadas Pollo (12u)": 22800,
    "Filet Pechuga": 9500,
    "Hamburguesa Novillo (1u)": 7200,
    "Hamburguesas Cordero (4u)": 7500,
    "Hamburguesas Novillo (4u)": 7500,
    "Helado Choco Almendras (250g)": 5800,
    "Helado Dulce de Leche (250g)": 5800,
    "Helado Lemon Pie (250g)": 5800,
    "Helado Mascarpone (250g)": 5800,
    "Huevos Campo (12u)": 4400,
    "Huevos Campo (30u)": 8700,
    "Huevos Campo (6u)": 2300,
    "Mayo Morrón (100cc)": 1500,
    "Mignon (1u)": 300,
    "Milanesas Bife Angosto (1kg)": 12000,
    "Milanesas Finita Peceto (1kg)": 12000,
    "Novillo Desmechado (400g)": 8000,
    "Papas Fritas": 1500,
    "Pata Muslo": 4500,
    "Picada Premium (1u)": 23000,
    "Picada Quesos (1u)": 20000,
    "Pollo Desmechado (400g)": 6000,
    "Pollo Entero chico (1u)": 10000,
    "Pollo Entero grande (1u)": 13000,
    "Pollo Entero mediano (1u)": 11500,
    "Queso Ciboulette (100cc)": 1500,
    "Sándwich Milanesa (1u)": 7200,
    "Sidra Red Delicious (473cc)": 2400,
    "Sprite (1500cc)": 4000,
    "Sprite (500cc)": 1800,
    "Supremas muslo (1kg)": 8500,
    "Supremas pechuga (1kg)": 9000,
    "Tira Asado (1kg)": 8000,
    "Triple Jamón Crudo (3u)": 3000,
    "Triple Jamón Crudo (6u)": 6000,
    "Triple JyQ (3u)": 3000,
    "Triple JyQ (6u)": 6000,
    "Triple Peceto (3u)": 3000,
    "Triple Peceto (6u)": 6000,
    "Triple Veggie (3u)": 3000,
    "Triple Veggie (6u)": 6000,
    "Vegetales Salteados (1u)": 5000,
    "Vino Blanco Chardonnay (750ml)": 8000,
    "Vino Malbec (750ml)": 8000,
    "Vino Rosado (750ml)": 8000,
    "hamburguesa o milanesa + papas": 8200,
    "hamburguesa o milanesa + papas + bebida": 9800,
    "hamburguesa o milanesa + papas + cerveza": 10800,
    "hamburguesa o milanesa sola": 7200,
};
    function actualizarSubtotal() {
        let total = 0;
        let productos = document.querySelectorAll(".producto-item");

        productos.forEach(div => {
            let producto = div.querySelector("select").value;
            let cantidad = div.querySelector("input").value;
            let precioUnitario = preciosProductos[producto] || 0;
            total += (precioUnitario * cantidad);
        });

        // Aplicar descuentos según el método de pago
        let descuentoOn = document.getElementById("descuentoOn").value;
        let descuento = 0;

        if (descuentoOn === "Sí") {
            descuento = 0.05; // 5% de descuento
        } 

        let totalConDescuento = total - (total * descuento);

        // Actualizar la pantalla
        document.getElementById("subtotal").innerText = `Subtotal: $${total.toFixed(2)}`;
        document.getElementById("descuento").innerText = `Descuento: -$${(descuento*total).toFixed(2)}`;
        document.getElementById("monto").value = totalConDescuento.toFixed(2);
    }

    $(document).ready(function() {
        // Aplicar Select2 a todos los selects de productos cuando se carga la página
        $('.producto-select').select2();
    });

    function agregarProducto() {
        let container = document.getElementById("productos-container");
        let div = document.createElement("div");
        div.classList.add("producto-item");
        let idProducto = "producto-" + Math.random().toString(36).substr(2, 9); // Genera un ID único

        div.innerHTML = `
            <select name="productos[]" class="producto-select" id="${idProducto}" onchange="actualizarSubtotal()">
                <option value="">Seleccionar producto</option>
                ${Object.keys(preciosProductos).map(p => `<option value="${p}">${p} - $${preciosProductos[p]}</option>`).join("")}
            </select>
            Cantidad: <input type="number" name="cantidades[]" min="1" value="1" required oninput="actualizarSubtotal()">
            <button type="button" onclick="this.parentNode.remove(); actualizarSubtotal()">X</button>`;
        container.appendChild(div);

        // Aplicar Select2 al nuevo producto agregado
        $(`#${idProducto}`).select2();
    }
</script>
    
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('ver_pedidos') }}">Tabla de pedidos</a></li>
            <li><a href="{{ url_for('editar_pedidos') }}">Editar Pedidos</a></li>
            <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
        </ul>
    </nav>



    <form class="form" action="/enviar_pedido" method="post">
        <h2>Ingresar Pedido</h2>
        <div class="productos">
            <p>Vendedor:</p>
            <select name="vendedor" required>
                <option value="Veronica">Veronica</option>
                <option value="Silvina">Silvina</option>
                <option value="Lautaro">Lautaro</option>
                <option value="Laura">Laura</option>
                <option value="Lucia">Lucia</option>
            </select>
            <p>Cliente:</p>
            <input type="text" name="cliente" required>
            <p>Dirección del cliente o Local de retiro:</p>
            <input type="text" name="direccion" required>
            <p>Teléfono:</p>
            <input type="text" name="telefono" required>
            <p>Fecha de Entrega:</p>
            <input type="date" name="fecha_entrega" required>
            <p>Horario de Entrega:</p><select name="horario_entrega">
                <option value="10:00 a 13:00">10 a 13 hrs / LUNES a SÁBADOS</option>
                <option value="13:00 a 16:00">13 a 16 hrs / LUNES a SÁBADOS</option>
                <option value="16:00 a 19:00">16 a 19 hrs / LUNES a VIERNES</option>
            </select>
            <p>Método de Pago:</p>
            <select name="metodo_pago" id="metodo_pago" required onchange="actualizarSubtotal()">
                <option value="Efectivo">Efectivo</option>
                <option value="Transferencia">Transferencia</option>
                <option value="Débito">Débito</option>
                <option value="Crédito">Crédito</option>
                <option value="Mercado-Pago">Mercado Pago</option>
                <option value="Payway">Payway</option>
                <option value="QR">QR</option>
            </select>
            <p>¿Con Descuento?</p>
            <select name="descuentoOn" id="descuentoOn" required onchange="actualizarSubtotal()"><option value="Sí">Sí</option><option value="No">No</option></select>
            <h3 id="subtotal">Subtotal: $0.00</h3>
            <h3 id="descuento">Descuento: $0.00</h3>
            <p>Monto:</p>
            <input type="number" name="monto" id="monto" required readonly>
            <p>¿Pagado?</p>
            <select name="pagado"><option value="Sí">Sí</option><option value="No">No</option></select>
            <p>¿Ya fue entregado?</p>
            <select name="estado"><option value="Pendiente">Pendiente</option><option value="Enviado">Enviado</option><option value="Entregado">Entregado</option></select>
        </div>
        <div class="submit">
            <h2>Productos</h2>
            <div id="productos-container"></div> <!-- Contenedor donde se agregan los productos dinámicamente -->
            <button type="button" onclick="agregarProducto()"> + Agregar Producto</button>
            <p>Observaciones:</p>
            <input type="text" name="observaciones">

            <input type="submit" value="Enviar Pedido">
        </div>
        
        
    </form>
</body>
</html>
